<header id='header-2'>
  <%= link_to user_groups_path(current_user.id), class: 'back-arrow' do %>
    &#10132;
  <% end %>
  <%= link_to user_groups_path(current_user.id) do %>
    <%= image_tag('https://user-images.githubusercontent.com/71644515/171589457-27f1e31c-aa93-4ecf-bdf6-afce637e8a7b.png', class:'home') %>
  <% end %>
</header>
<section class='trans-con'>
  <h1>Add Category</h1>
  <div class='add-trans'>
    <%= form_with model: @group, url: user_groups_path, scope: :group, data: { turbo: false } do |form| %>
      <%= form.text_field :name, placeholder: 'Name', class: 'form-inp', :required => true %>

      <%= form.select :icon, options_for_select([
        ['Housing', @icons["Housing"]],
        ['Transportation' ,@icons["Transportation"]],
        ['Education' ,@icons["Education"]],
        ['Bills' ,@icons["Bills"]],
        ['Food' ,@icons["Food"]],
        ['Utilities' ,@icons["Utilities"]],
        ['Insurance' ,@icons["Insurance"]],
        ['Savings' ,@icons["Savings"]],
      ]),{ include_blank: "Choose an icon"}, required: true , class:"form-inp"%>

      <div class='btn-con'>
        <%= form.submit :Submit , class: "submit-button" %>
      </div>
    <% end %>
  </div>
</section>