<header id='header-2'>
  <%= link_to user_groups_path(current_user.id), class: 'back-arrow' do %>
    &#10132;
  <% end %>
  <span class='back-arrow'>&#9740;</span>
</header>
<section class='trans-con'>
  <h1>Add Category</h1>
  <div class='add-trans'>
    <%= form_with model: @group, url: user_groups_path, scope: :group, data: { turbo: false } do |form| %>
      <%= form.text_field :name, placeholder: 'Name', class: 'form-inp', :required => true %>

      <%= form.text_field :icon, placeholder: 'Icon', class: 'form-inp' %>

      <div class='btn-con'>
        <%= form.submit :Submit , class: "submit-button" %>
      </div>
    <% end %>
  </div>
</section>