<header id='header-2'>
  <%= link_to new_user_session_path, class: 'back-arrow' do %>
    &#10132;
  <% end %>
  <h2>Forgot your password?</h2>
</header>
<section class='trans-con'>
  <div class='add-trans'>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class='btn-con'>
    <%= f.submit "Send me reset password instructions", class: 'submit-button' %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>
</section>